#center {
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    width: 270px;
    display: flex;
    flex-direction: column;
    margin: auto;
    box-shadow: 10px 5px 5px grey;
    background-color: black;
    border-radius: 2%;
}

button {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: grey;
    border: none;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#display {
    width: 240px;
    height: 50px;
    margin: 5px;
    text-align: right;
    border: 3px solid black;
    font-size: 30px;
    color: white;
    background-color: black;
}

.op {
    background-color: rgb(243, 166, 22);
}


