body {
    margin: 0;
}

div {
    display: inline-block;
    width: 500px;
    margin: 0;
}

.buttonSet {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#playto {
    align-items: flex-start;
   justify-content: space-around;
}
